input[type="text"], select {
    clear: both;
    display: block;
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 1em;
    clear: both;
}

footer {
    margin-top: 2em;
}